h1 {
	font-size: 48px;
}

h2 {
	font-weight: 700;
	margin-bottom: 25px;
	font-size: 32px;
	letter-spacing: 1.58px;
}

h4 {
	font-size: 18px;
	margin-bottom: 14px;
	letter-spacing: 0.9px;
}

p {
	font-size: 16px;
}

a {
	cursor: pointer;
}

.col {float: left;}
.col-r {float: right;}
.row:after {
  content: "";
  display: table;
  clear: both;
}

img,
.form__map,
.input-block__calendar,
.input-block__dow_img,
.calendar,
.photos__main {
	border: 1px solid #000;
}

.photos__main {
	margin-right: 71px;
}

.sort,
.block__icon-btn,
.results-trip__box,
.trip,
.route,
.photos,
.buttons {
	border-top: 1px solid #bfbcb1;
}
 
.main-header,
.form,
.sort,
.block__icon-btn,
.form__more,
.form__items,
.view__more,
.title,
.results-trip__box,
.edit-trip,
.comments__block,
.buttons {
	border-bottom: 1px solid #bfbcb1;
}


html,
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	height: 100%;
}

.main-wrap {
	width: 1366px;
	padding: 0 53px;
	margin: 0 auto;
	display: flex;
	height: 100%;
	flex-direction: column;
}

.flexbox {flex: 1 0 auto;}
.flex-container {display:flex;justify-content:space-between;}