.view__more,
.form__more {
	height: 85px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 19px;
}

.view__more.__mod {
	margin-bottom: 0;
	border-bottom: 0;
}

.more__btn {
	display: block;
	color: #888c8b;
	height: 100%;
}

.btn__text {
	margin-top: 31px;
	display: inline-block;
}

.btn__text:hover  {
	text-decoration: underline;
}

.hot-offer__header,
.past-trips__header {
	margin-bottom: 31px;
}

.hot-offer__block,
.past-trips__block {
	margin-bottom: 26px;
}

.hot-offer__organizer,
.past-trips__organizer,
.feedback {
	margin-top: 15px;
}

.hot-offer {
	margin-bottom: 20px;
}

.hot-offer:last-child {
	margin-bottom: 0;
}

.calendar {
	margin-right: 71px;
	height: 300px;
}

.header__h4-red {
	color: #f94c4c;
	margin: 16px 0 -10px 0;
}

.h4-underline {
	text-decoration: underline;
}

.main-added__img {
	width: 300px;
  height: 300px;
	margin-right: 69px;
}

.tags-block {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	width: 250px;
	text-transform: uppercase;
}

.tags-block__tag {
	display: inline-block;
	padding: 6px 10px;
	border-radius: 8px;
	background-color:  #2e7dde;
	height: 28px;
	margin: 0 0 14px 0;
}

.feedback__author {
	width: 64px;
	height: 64px;
	margin-right: 13px;
}
.organizer__author {
	width: 127px;
	height: 127px;
	margin-right: 20px;
}


.block__icon-btn {
	padding: 16px 31px 15px;
}
.block__icon-btn.__mod {
	border-top: 0;
}


.feedback__main {
	margin-bottom: 27px;
}

.feedback__main:last-child {
	margin-bottom: 0;
}

.past-trips__organizer {
	margin-right: 98px;
}

.inform__username {
	font-size: 16px;
	margin-bottom: 0;
}

.inform__p,
.inform__p_margin-top,
.comment__p {
	font-size: 14px;
	margin-top: 7px;
}

.comment__p.__mod {
	margin-top: 17px;
}

.inform__p_margin-top {
	margin-top: 0;
}

.inform__p.__gray,
.inform__p_margin-top.__gray {
	color: #8c8f8e;
}

.organizer__soc-site {
	margin-top: 10px;
}

.img-block {
	margin-bottom: 25px;
}

.img-block__size {
	width: 140px;
	height: 140px;
}

.img-block__size:hover {
	border: 2px solid #1b3280;
	cursor: pointer;
}

.soc-site__sprites {
	display: block;
	background-image: url(../img/net-soc.png);
	background-repeat: no-repeat;
	width: 52px;
	height: 55px;
	margin-right: 21px;
}

.soc-site__sprites.__facebook {
	background-position: -72px;
}

.soc-site__sprites.__twitter {
	background-position: -145px;
}

.icon-btn__block {
	
}

.btn__icon-sprites {
	display: inline-block;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 65px;
	height: 53px;
}

.label-hover {
	color: #8c908f;
	margin: 11px 6px;
}
.label-hover.__count {
	font-weight: 700;
}

.btn__label {
	display: inline-block;
	margin: 17px 0 0 20px;
}

.btn__icon-sprites.__like {background-position: -230px -65px;}
.btn__icon-sprites.__comment {background-position: -165px -65px;}
.btn__icon-sprites.__checked {background-position: -102px -65px;}
.btn__icon-sprites.__users-checked {background-position: -367px -65px;}
.btn__icon-sprites.__bycicle {background-position: 0 -65px; width: 99px;}
.btn__icon-sprites.__map {background-position: -299px -65px; width: 68px;}

.block__btn:hover .__like {background-position: -230px -4px;}
.block__btn:hover .__comment {background-position: -165px -4px;}
.block__btn:hover .__checked {background-position: -102px -4px;}
.block__btn:hover .__users-checked {background-position: -367px -4px;}
.block__btn:hover .__bycicle {background-position: 0 -4px; width: 99px;}
.block__btn:hover .__map {background-position: -299px -4px; width: 68px;}

.block__btn:hover .label-hover {color: #1b3280;}

.title {
	padding-bottom: 6px;
	margin-bottom: 35px;
}

.title.__mod {
	margin-bottom: 0;
}

.title__h2 {
	margin-bottom: 9px;
}

.edit-trip__item {
	color:  #1b3280;
}