.main-footer {
	flex: 0 0 auto;
}

.main-footer__nav {
	width: 100%;
	height: 53px;
	text-align: center;
}

.main-footer__item {
	border-right: 1px solid #000;
	padding: 0 40px;
}

.main-footer__item:last-child {
	border-right: 0;
}

.main-footer__item:hover {
	color: #888c8b;
}

