.form {
	padding-bottom: 30px;
}

.form__map {
	width: 620px;
	height: 569px;
}

.form__map.__mod,
.calendar.__mod,
.photos__main {
	width: 298px;
	height: 298px;
}

.photos__main {
	position: relative;
}


.form__input {
	width: 570px;
  margin-left: 70px;
}

.form__items {
	display: flex;
	align-items: center;
	height: 85px;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 19px;
}
.form__items,
.items__btn {
	color: #abaead;
}

.items__btn:hover {
	text-decoration: underline;
}

.input-block_style,
.trip__input-block_style,
.route__input-block_style {
	width: 250px;
	height: 28px;
	letter-spacing: 0.3px;
	font-size: 14px;
	padding: 0 10px;
}

.input-block_style.__mod,
.trip__input-block_style.__mod,
.route__input-block_style.__mod {
	padding-left: 34px;
}

.input-block__dow_img,
.calendar {
	width: 250px;
	height: 250px;
}

.input-block {
	margin-bottom: 15px;
}

.item__btn {
	color: #8c908f;
	font-size: 12px;
}
.item__btn:hover {
	color: #000066;
}

.address_block {
	position: relative;
}

.address_block.__mod,
.trip__input-block_style,
.route__transport {
	margin-right: 10px;
}

.abc {
	position: absolute;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	top: 4px;
	left: 9px;
	padding-left: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.abc.red {background: #ff6666;}
.abc.green {background: #00ff00;}
.abc.blue {background: #33ccff;}

.input-block__btn,
.login-block__btn,
.login__btn,
.photos__btn,
.buttons__pre,
.buttons__apply {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	cursor: pointer;
}

.input-block__btn,
.photos__btn,
.buttons__pre,
.buttons__apply {
	font-size: 14px;
	border-radius: 4px;
	border: 0.99px solid #000;
	background-color:  #e7e6e6;
	width: 250px;
	height: 28px;
}
.route__input {
	margin-left: 71px;
}

.photos__add {
	position: relative;
	width: 180px;
}
.photos__btn {
	display: block;
	position: absolute;
	bottom: -51px;
}

.photos__btn,
.buttons__pre,
.buttons__apply {
	width: 298px;
}
.add__img {
	width: 138px;
	height: 138px
}

.main__img {
	display: block;
}

.delete__btn,
.add__btn {
	display: none;
	position: absolute;
}

.delete__btn {
	top: 5px;
	left: 5px;
}

.add__btn {
	top: 5px;
	right: 10px;
}

img.__mod {
	border: 0;
}

.photos__add:hover .delete__btn,
.photos__add:last-child:hover .add__btn {
	display: block;
}

.trip,
.route,
.photos {
	padding-top: 31px;
	margin-top: 27px;
}

.buttons {
	margin: 75px 0 24px;
	padding: 26px 0;
}

.buttons__pre {
	margin-right: 72px;
}