.main-header {
	position: relative;
  height: 140px;
	margin-bottom: 23px;
}

.logo-block__logo {
	border-radius: 50%;
	background-color:  #2e7dde;
	width: 130px;
	height: 130px;
	margin: 5px 0 0 6px;
}

.walkbike-blue {
	color: #2e7dde;
}

.logo-block__walkbike {
	margin: 40px 0 0 5px;
	letter-spacing: 2.5px;
}

.slogan-block {
	margin: 40px 0 0 60px;
	letter-spacing: 1px;
}

.slogan-block span {
	font-weight: 400;
}

.login-block {
	position: absolute;
	right: 36px;
	bottom: 0;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}

.login-block__btn {
	position: relative;
	padding: 0 17px 14px 0;
}
.login-block__btn.__mod {
	padding-right: 0;
}
.login-block__btn.__mod::before {
	content: "";
	border-left: 1px solid #000;
	margin-right: 15px;
	font-size: 10px;
}

.login-block__btn:hover {
	text-decoration: underline;
}

.form__login {
	display: none;
	z-index: 1;
	position: absolute;
	top: 30px;
	left: -98px;
	border-radius: 6px;
	border: 0.6px solid #a89f91;
	background-color: #fff;
	width: 244px;
}

.form__login.__mod {
	left: -35px;
}

.item,
.login__style {
	display: block;
	margin: 10px auto;
	border: 1px solid #a89f91;
	width: 221px;
	height: 26px;
	padding: 0 10px;
}

.item.__mod {
	border: none;
	padding: 0;
}

.login__btn {
	display: block;
	margin: 10px auto;
	border-radius: 4px;
	border: 0.99px solid #000;
	background-color:  #e7e6e6;
	width: 223px;
	height: 28px;
}

.login-block__btn:hover .form__login {
	display: block;
}