.results-trip__img {
	width: 226px;
	height: 231px;
}


.results-trip__btn {
	width: 66px;
	margin: 10px 0 0 15px;
}

.results-trip__box {
	padding: 35px 0;
	margin-top: 8px;
}

.autor__img {
	width: 138px;
	height: 138px;
	margin-right: 10px;
}



.comments__block {
	padding: 35px 0;
}
.comments__block:last-child {
	margin-bottom: 35px;
}



.block__text {
	position: relative;
	display: block;
	margin: 0 10px 0 320px;
	word-wrap: break-word;
}

.text__create {
	border: 0;
	width: 100%;
	height: 100px;
}

.comments__items {
	position: absolute;
	top: 145px;
}

.item__btn.__mod {
	font-size: 14px;
	color: #1b3280;
}
