.sort, 
.edit-trip {
	font-size: 12px;
	font-weight: 700;
	padding: 3px 0 5px;
	margin-bottom: 20px;
}
.sort__btn {
	margin-left: 10px;
}
.sort__btn.__mod {
	cursor: text;
	color: #999;
	font-weight: 400;
}